<section class="main-screen">
    <div class="container">
        <div class="row align-items-center wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
            <div class="col-12 col-md-6">
                <h1>Software <br>Development</h1>
                <p>VIVENTUM bietet individuelle Software Lösungen<br> und Corporate Design von einem professionellen Team<br> aus Softwarearchitekten, Entwicklern und Designern</p>
                <a href="#"><span>Kontakt aufnehmen</span></a>
            </div>
            <div class="col-12 col-md-6">
                <div class="leistungen">
                    <h4>Leistungen</h4>
                    <div class="leistungen_wrapper">
                        <div class="leistungen_numbers">
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                            <span>6</span>
                            <span>7</span>
                        </div>
                        <div>
                            <div class="leistungen-list"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Software -->
<a id='software'></a>
<section class="software">
    <div class="container">
        <div class="title" id="scene">
            <h2 data-depth="0">Software</h2>
            <span data-depth="0.1">Software</span>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text">
                    <p>
                        Wir verbinden unsere Kompetenz und die neusten Technologien für die Realisierung Ihrer individuellen Software-Projekte.
                        Unser Team aus diplomierten und erfahrenen Spezialisten begleitet Sie von der ersten
                        Beratung bis zum fertigen Produkt und gerne auch danach. Zusätzlich bieten wir Ihnen Corporate Design und
                        technische Dokumentation an.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="software-icon">
                    <img src="~/img/software-6s.gif" alt="icon">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Technologien -->
<section class="technologien">
    <div class="container">
        <div class="title" id="scene1">
            <h2 data-depth="0">Technologien</h2>
            <span data-depth="0.1">Technologien</span>
        </div>
        <div class="technologien__row">
            <div class="technologien__item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="technologien__item-icon"><img src="~/img/data-6s.gif" alt="icon"></div>
                <ul>
                    <li><span>C#</span></li>
                    <li><span>ASP.NET</span></li>
                    <li><span>.NET Core</span></li>
                    <li><span>PHP</span></li>
                    <li><span>Java</span></li>
                </ul>
            </div>
            <div class="technologien__item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="technologien__item-icon"><img src="~/img/code-6s.gif" alt="icon"></div>
                <ul>
                    <li><span>HTML5/CSS</span></li>
                    <li><span>JavaScript/jQuery</span></li>
                    <li><span>TypeScript</span></li>
                    <li><span>Angular</span></li>
                    <li><span>React</span></li>
                </ul>
            </div>
            <div class="technologien__item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="technologien__item-icon"><img src="~/img/gear-6s.gif" alt="icon"></div>
                <ul>
                    <li><span>MS-SQL</span></li>
                    <li><span>PostgreSQL</span></li>
                    <li><span>MySQL</span></li>
                    <li><span>Oracle</span></li>
                    <li><span>SQLite</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Design -->
<a id="design"></a>
<section class="design">
    <div class="container">
        <div class="title" id="scene2">
            <h2 data-depth="0">Design</h2>
            <span data-depth="0.1">Design</span>
        </div>
        <div class="design__inner-text">
            <p>Das Corporate Design sorgt für die Wiedererkennung Ihres Unternehmens. Gutes Design ist die Kombination aus frischen Ideen und kreativer Umsetzung. Sehr wichtig ist für uns dabei eine enge Zusammenarbeit mit unseren Kunden. Wir verleihen Ihrem Unternehmen ein Gesicht, welches für Wiedererkennung und mehr Attraktivität bei den Kunden sorgen wird. </p>
        </div>
        <div class="design__row">
            <div class="design__item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                <div class="design__item-icon"><img src="~/img/design-6s.gif" alt="icon"></div>
                <div class="design__item-title">
                    <p>Corporate Design (CD)</p>
                </div>
                <ul>
                    <li><span>Logoentwicklung</span></li>
                    <li><span>Markenentwicklung</span></li>
                    <li><span>Web-Design</span></li>
                    <li><span>Printmedien</span></li>
                    <li><span>Newsletter</span></li>
                    <li><span>Social Media</span></li>
                </ul>
            </div>
            <div class="design__item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                <div class="design__item-icon"><img src="~/img/ui-6s.gif" alt="icon"></div>
                <div class="design__item-title">
                    <p>User Interface (UI)</p>
                </div>
                <ul>
                    <li><span>Layouts</span></li>
                    <li><span>Dropdown-Menüs</span></li>
                    <li><span>Kontrollkästen</span></li>
                    <li><span>Buttons</span></li>
                    <li><span>Sidebars</span></li>
                    <li><span>Icons</span></li>
                    <li><span>Eingabefelder</span></li>
                    <li><span>Schaltflächen</span></li>
                </ul>
            </div>
            <div class="design__item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                <div class="design__item-icon"><img src="~/img/ux-6s.gif" alt="icon"></div>
                <div class="design__item-title">
                    <p>User Expirience (UX)</p>
                </div>
                <ul>
                    <li><span>Verhaltensanalyse</span></li>
                    <li><span>Prototyping</span></li>
                    <li><span>User Tests</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Referenzen -->
<a id="referenzen"></a>
<div class="referenzen">
    <div class="container">
        <div class="title" id="scene3">
            <h2 data-depth="0">Referenzen</h2>
            <span data-depth="0.1">Referenzen</span>
        </div>
        <div class="referenzen__row">
            <img src="~/img/client4.svg" alt="client logo">
            <img src="~/img/client7.svg" alt="client logo">
            <img src="~/img/client1.svg" alt="client logo">
            <img src="~/img/client6.svg" alt="client logo">
            <img src="~/img/client5.svg" alt="client logo">
            <img src="~/img/client2.svg" alt="client logo">
            <img src="~/img/client8.svg" alt="client logo">
            <img src="~/img/client3.svg" alt="client logo">
        </div>
    </div>
</div>

<!-- Kontakt -->
<a id="contacts"></a>
@{ await Html.RenderPartialAsync("_ContactForm"); }

<!-- Map -->
<section class="map">
    <div id="map"></div>
    <script>
        function initMap() {
            var rostock = { lat: 54.08649098408871, lng: 12.13238457034607 };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                zoom: 16,
                center: rostock,
                styles: [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#242f3e"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#746855"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#242f3e"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d59563"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d59563"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.business",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#263c3f"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#6b9a76"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#38414e"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#212a37"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9ca5b3"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#746855"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#1f2835"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#f3d19c"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#2f3948"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d59563"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#17263c"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#515c6d"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#17263c"
                            }
                        ]
                    }
                ]
            });
            var marker = new google.maps.Marker({ position: rostock, map: map });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwsj-EAo2qGVAeQ-W-FXATvoNfe4TiNjg&callback=initMap"></script>
</section>